div.class-detail {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
div.constant-detail,
div.method-detail,
div.global-detail {
  border-top: 1px dashed #CCC;
  padding-top: 0.5em;
}
div.constant-detail:first-child,
div.method-detail:first-child,
div.global-detail:first-child {
  padding-top: none;
  border-top: none;
}
div.details, div.comment {
  margin: 2em;
}
