html, body {
  height: 100%;
}

body {
	font-family: 'Exo', serif;
  background-color: #FFF;
  color: #333;
}

p, dl, h1, h2, h3, h4, h5, h6, table, code {
    margin: 1em 0;
}

ol, ul {
  margin: 1em;
}

h1 {
  font-size: 2em;
  font-family: 'Comfortaa', sans-serif;
}

h2 {
  font-size: 1.7em;
  font-family: 'Comfortaa', sans-serif;
}

h3 {
  font-size: 1.2em;
  font-family: 'Comfortaa', sans-serif;
}

code {
  font-size: 1em;
  font-family: 'Ubuntu Mono', monospace;
}

strong {
  font-weight: 700;
}

hr {
  margin: 1em 0;
}

dt {
  font-weight: bold;
  margin: 1.5em 0 0.5em;
}

dd {
  margin-left: 1.5em;
}

dd a {
  margin: 0 0.5em;
}

a:link, a:visited {
  color: #C70013;
  text-decoration: none;
}

a:hover, a:active {
  color: #C70013;
  text-decoration: underline;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  padding: 0.3em 0.4em;
  text-align: left;
  font-size: 140%;

  border: 1px solid #333;

  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background-color: #CCC;
  background-image: -webkit-linear-gradient(top, #DDD, #AAA);
  background-image: -moz-linear-gradient(top, #DDD, #AAA);
  background-image: -ms-linear-gradient(top, #DDD, #AAA);
  background-image: -o-linear-gradient(top, #DDD, #AAA);
}

td {
  padding: 0.4em 0.6em;

  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}

td:last-child {
  border-right: 1px solid #333;
}

td p {
    padding: 0;
    margin: 0;
}

pre.tree {
    margin: 1em 0;
}

p.list {
	margin-left: 0px;
}

#main-nav h1 {
    float: right;
    font-size: 100%;
    font-style: italic;
    padding: 0 4px;
    margin: 0;
}

#main-nav ul {
    list-style: none;
    margin: 0;
}

#main-nav ul li {
    display: inline;
    font-size: 100%;
    font-weight: bold;
    padding: 0 4px;
}

#main-nav ul li.active {
    background-color: #00008c;
    color: #fff;
}

#main-nav ul li a:visited {
    color: #000;
}

#main-nav .small_links {
    text-transform: uppercase;
    font-size: 65%;
    font-family: 'Comfortaa', sans-serif;
    margin: 8px;
}



div.qualifiedName {
    font-size: 80%;
    font-weight: bold;
    margin: 10px 0 0;
}

div.location,
a.location {
    display: block;
    font-size: 80%;
	float: right;
}

#definition h1 {
    margin: 0 0 10px;
    font-family: 'Exo', serif;
}

#definition h2 {
    border: 2px solid #999;
    padding: 2px;
    background-color: #ccf;
    text-align: left;
    font-size: 140%;
    font-family: 'Exo', serif;
}

table.inherit th {
    background-color: #eef;
    font-size: 120%;
}

td.type {
    text-align: right;
    vertical-align: top;
    font-family: monospace;
}

td p.name {
    font-family: monospace;
}

td p.description {
    margin: 2px 0 0 20px;
}

/* tree */

#tree ul ul {
    margin-top: 0;
    margin-bottom: 0;
}
