html, body {
  height: 100%;
}

body {
	font-family: 'Exo', serif;
  background-color: #EEE;
  background-image: url(api-bg.png);
  color: #333;
}

#packages, #all-items, #content {
  overflow: auto;
  overflow-x: hidden;

  padding: 10px;
}

#packages {
  position: absolute;
  top: 0;
  left: 0;
  right: 80%;
  bottom: 70%;

  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

#all-items {
  position: absolute;
  top: 30%;
  left: 0;
  right: 80%;
  bottom: 50px;

  border-right: 1px solid #999;
}

#content {
  position: absolute;
  top: 0;
  left: 20%;
  right: 0;
  bottom: 50px;
}

#footer {
  position: absolute;

  bottom: 0;
  height: 40px;
  left: 0;
  right: 0;

  padding: 10px 10px 0;
  border-top: 2px groove #999;

  text-align: center;
}
